body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #902EBB;*/
  background-image: linear-gradient(#1c1c1c,#902ebb);
}


body.dark-mode {
  background-image: linear-gradient(black,black);
  transition: background-image 5s ease; /* Smooth transition effect */
}

.eye {
  top: 100px;
  left: 20px;
  width: 20vw;
  height: 20vw;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 50px 5px rgba(193, 204, 204, 0.8);
}

.eye.glow {
  background-color: red;
  box-shadow: 0 0 50px 50px red; /* Red glow for the eye */
  transition: background-color 5s ease,box-shadow 5s ease; /* Smooth transition effect */
  animation: shake .1s infinite;
}

.pupil {
  width: 4vw;
  height: 4vw;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.2s ease; 
}   /* Smooth transition for pupil movement */

.cem {
  position: absolute;
  bottom: 0px;
  width: 100vw;
}

.bat1 {
  position: absolute;
  width: 50px;
  height: 50px;
  animation: flyThree 10s linear infinite;
}

.bat2 {
  position: absolute;
  width: 100px;
  animation: flyOne 6s linear infinite;
}

.bat3 {
  position: absolute;
  width: 75px;
  animation: flyTwo 8s linear infinite; 
}

.hh {
  position: absolute;
  bottom: 60px; 
  right: 40px;
  width: 40vw;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1; /* Keep it in the background */
}

.overlay.active {
  opacity: 1; /* Make the overlay visible */
}

@keyframes flyOne {
  0% {transform: translate(50px,-75px);}
  50% {transform: translate(400px,50px) rotate(20deg)}
  75% {transform: translate(0px,50px) rotate(-20deg);}
  100% {transform: translate(50px,-75px);}
}

@keyframes flyTwo {
  0% {transform: rotate(360deg) translate(200px);}
  50% {transform: rotate(180deg) translate(200px);}
  100% {transform: rotate(-360deg) translate(200px);}
}

@keyframes flyThree{
  0% {transform: scale(0,1) translate(250px,30px);}
  40% {transform: scale(1) translate(75px, 25px);}
  60% {transform: scale(1,0) translate(100px, 10px);}
  100% {transform: scale(0,1) translate(250px,30px)}
}

@keyframes shake {
  0% { transform: translate(0px, 0px); }
  25% { transform: translate(3px, -3px); }
  50% { transform: translate(-3px, 3px); }
  75% { transform: translate(3px, 3px); }
  100% { transform: translate(-3px, -3px); }
}
